:root {
	--main: #437da0;
	--dark-main: #3f7799;
	--accent1: #6772e5;
	--dark-accent1: #604092;
	--accent2: #ff8aa7;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
}

.box,
.light-box,
.transition {
	transition: 0.4s !important;
}

.link {
	text-decoration: none;
}
.nav-section:hover {
	transform: scale(1.2);
}

/*Background*/
.bg-main {
	background-color: var(--main);
}

.bg-dark-main {
	background-color: var(--dark-main);
}

.bg-accent1 {
	background-color: var(--accent1);
}

.bg-dark-accent1 {
	background-color: var(--dark-accent1);
}
.bg-accent2 {
	background-color: var(--accent2);
}

.bg-main-50 {
	background-color: rgba(67, 125, 160, 0.5);
}
.bg-linth {
	background-image: url("./Media/linth.svg");
	background-size: cover;
}
/*Text*/

.text-white {
	color: white;
}

.text-black {
	color: black;
}

.text-main {
	color: var(--main);
}
.text-accent1 {
	color: var(--accent1);
}

.text-regular {
	font-weight: 400;
}

.text-medium {
	font-weight: 500;
}

.text-bold {
	font-weight: 700;
}

.font-20 {
	font-size: 20px;
}
.font-30 {
	font-size: 30px;
}
.font-40 {
	font-size: 40px;
}
.font-50 {
	font-size: 50px;
}
.font-60 {
	font-size: 60px;
}
.font-70 {
	font-size: 70px;
}

/*-----------------------------------------------------------------------------------------------*/
.masthead {
	height: 100vh;
	min-height: 500px;
	background-image: url("./Media/head.svg");
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	opacity: 0%;
}

/*Scrollbar*/
body::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}

body::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: var(--main);
	-webkit-box-shadow: inset 0 0 6px rgba(34, 2, 2, 0.5);
}
body::-webkit-scrollbar-thumb:window-inactive,
.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background: var(--accent1);
}

.img-presto {
	position: relative;
	right: -600px;
	height: 500px;
	z-index: -1;
}

@media only screen and (max-width: 766px) {
	.text-border {
		-webkit-text-stroke: 1px black;
		-webkit-text-fill-color: white;
	}

	.masthead {
		background-size: cover;
		background-position: top;
	}

	h1 {
		font-size: 40px;
	}
}

.icon {
	font-size: 50px;
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
}

.box:hover,
.light-box:hover {
	transform: scale(1.4);
	z-index: 1;
}

.fa-html5 {
	color: #ff7a01;
}
.fa-css3-alt {
	color: #0f5298;
}
.fa-js-square {
	color: #f0db4f;
}
.fa-bootstrap {
	color: #563d7c;
}
.fa-php {
	color: black;
}
.fa-laravel {
	color: #ff2d20;
}
.fa-database {
	color: black;
}

.box {
	min-width: 100px;
	border: solid 1px transparent;
	margin: 5px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(2px);
}

.light-box {
	min-width: 100px;
	border: solid 1px transparent;
	margin: 5px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(2px);
}

.facebook:hover {
	color: #4267b2 !important;
	transform: scale(1.4);
}
.instagram:hover {
	background: -webkit-radial-gradient(0% 100%, #c32aa3, #4c5fd7, #7232bd, #f46f30, #ffdc7d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1.4);
	transition: 0.4s;
}
.linkedn:hover {
	color: #0072b1 !important;
	transform: scale(1.4);
	transition: 0.4s;
}
.git:hover {
	color: #fc6d27 !important;
	transform: scale(1.4);
	transition: 0.4s;
}

.contact-form {
	border-radius: 20px;
}

.text-area {
	height: 250px;
}
.card {
	display: flex;
	background-color: rgba(129, 129, 129, 0.3);
	background-position: center;
	backdrop-filter: blur(5px);
	border: solid 2px transparent;
	align-items: center;
	border-radius: 10px;
}

#header {
	opacity: 0%;
}
